header input,
header button {
    border: 1px solid #d3d3d3;
    background: #f8f8f8;
    color: #333;
    padding: 0.8rem 1.6rem;
}

header input[type="text"] {
    width: 40%;
    margin-right: -5px;
}