<header>
    <div class="logo-wrapper">
        <img class="logo logo-image" src="../assets/images/mr_tickle.png" alt="">
        <div class="logo logo-name">tickle <i class="fa fa-music" aria-hidden="true"></i><br/> playlist</div>
    </div>
    <youtube-search (mediaList)="searchVideos($event)" ></youtube-search>
</header>
<main>
    <side-bar [playlistChange]="playlistChange" [playlist]="playlist" (resetPlaylistEvent)="resetPlaylist()" (removeMediaEvent)="removeMediaFromPlaylist($event)"></side-bar>
    <youtube-media-list *ngIf="mediaList.length; else noresults" [mediaList]="mediaList" (checkMediaEvent)="checkMediaInPlaylist($event)"></youtube-media-list>
    <ng-template #noresults>
        <div style="text-align: center; padding-left: 320px;">
            <img style="width: 40%;" src="../assets/images/mr_tickle-sad.png" alt="no video results">
            <div style="padding-top: 10px; line-height: 1.5; font-size: 2em;">
                <p style="color: #222222;">MR. TICKLE IS SORRY!</p>
                <p style="color: #e36414;">NO VIDEOS WERE FOUND ON THIS SEARCH</p>
            </div>
        </div>
    </ng-template>

</main>
<footer>
    <player-controls (playlistDoEvent)="playlistDo($event)" (playFirstInPlaylist)="playFirstInPlaylist()" ></player-controls>
</footer>
