<div class="full-screen" [@hideAnimation]='state'>
    <div class="wrapper">
        <div class="logo-wrapper">
            <div class="logo">
                <img src="/assets/images/mr_tickle-sad.png" alt="Mr tickle" (click)="hide()">                
            </div>
        </div>
        <div class="text-wrapper">
            <div class="text">
                MR.TICKLE'S SORRY!
            </div>
            <div class="logo-name">
                tickle playlist
            </div>
            <div class="text">
                IS ONLY A DESKTOP APP FOR THE MOMENT
            </div>
        </div>
    </div>
</div>