<ul class="youtube-media-list">
    <li class="youtube-media-wrapper" *ngFor="let media of mediaList">
        <div class="youtube-media" (click)="play(media)">
            <div class="media-thumbnail">
                <img src="{{ media.snippet.thumbnails.medium?.url }}" alt="Thumbnail">
                <div class="overlay">
                    <button class="btn play">
                        <i class="fa fa-play"></i>
                    </button>
                </div>
            </div>
            <div class="media-title">
                {{ media.snippet.title }}
            </div>
        </div>
    </li>
</ul>
