<div id="playlist" class="side-bar-wrapper">
    <div class="playlist-title">NOW-PLAYING</div>
    <button class="btn clear-playlist" (click)="resetPlaylist()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </button>
    <button class="btn shuffle" (click)="shuffle = !shuffle" [ngClass]="{'active': shuffle}">
        <i class="fa fa-random" aria-hidden="true"></i>
    </button>
    <button class="btn repeat" (click)="repeat = !repeat" [ngClass]="{'active': repeat}">
        <i class="fa fa-repeat" aria-hidden="true"></i>
    </button>
    <button class="btn download" (click)="downloadPlaylist()">
        <i class="fa fa-download" aria-hidden="true"></i>
    </button>
    <button class="btn upload" (click)="uploadPlaylist()">
        <i class="fa fa-upload" aria-hidden="true"></i>
    </button>
    <input id="upload-input" type="file" name="file" style="display: none;" (change)="changePlaylist($event)">
    <ul class="playlist now-playing">
        <li id="{{media.id}}" class="youtube-media-wrapper" *ngFor="let media of playlist">
            <div class="youtube-media" [ngClass]="{'active': currentlyPlaying(media.id)}" (click)="play(media.id)">
                <div class="media-thumbnail">
                    <img src="{{ media.snippet.thumbnails.medium.url }}" alt="Thumbnail">
                </div>
                <div class="media-title">
                    {{ media.snippet.title }}
                </div>
            </div>
            <button class="btn clear-media" (click)="removeMedia(media)">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
        </li>
    </ul>
</div>
