.side-bar-wrapper {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    width: 480px;
    background: orangered;
}

.playlist-title {
    padding-top: 80px;
    display: inline-block;
}

.playlist {
    height: calc(100% - 350px);
    overflow: scroll;
}

.playlist .media-thumbnail {
    display: inline-block;
    width: 150px;
}

.playlist .media-title {
    display: inline-block;
    width: calc(100% - 160px);
    vertical-align: top;
}